.navbar {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 675px) {
    height: auto;
    flex-direction: column;
    height: auto;
    padding-bottom: 1rem;
    &-logo {
      height: 50px !important;
      width: 100%;
      margin-right: 0 !important;
      a {
        font-size: 2rem !important;
      }
    }
  }
  &-logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 940px) {
      a {
        font-size: 1rem;
      }
    }
  }

  .select-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 675px) {
      width: 100%;
    }
  }
}
